<%
  # no Javascript Warning:
  # The user is being redirected here when he doesn't have JS enabled and try to access our backend
%>
<p>
  This site needs Javascript enabled in order to work. Please enable it.
</p>
